body{
  font-family: 'Poppins', sans-serif;
}

/* BOTON */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-10 {
      background-image: linear-gradient(to right, #fd92a9, #fc6076, #ff9a44 , #ffb518);
}


/* Hero Section */

#Hero-Section {
    background-image: url("../img/Fondo-Web-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }


  /* Mis trabajos */

  #Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* Cards*/

  .card{
    border: none;
  }    
  
  
  /* General button style*/
  .btn {
    font-size: inherit;
    padding: 10px 50px;
    display: inline-block;
    margin: 5px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  /* Button 4 */
  .btn-4 {
    background: #ffffff;
    border-radius: 50px;
    color: #fd92a9;
    overflow: hidden;
    border: 1px solid #fd92a9;
  }
  
  .btn-4:hover {
    background: #fd92a9;
    color: #ffffff;
  }
  
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #3c3a37;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 300;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }